.lista-locations{
	margin-top: 5%;
}

.cadatro-locations{
	margin-left: 25%;
	margin-top: 5%;
}

a.link-lista-item{
	cursor: pointer;
}

.alterar{
	margin-top: 5%;
	margin-left: 4%;
}

li.alterar-list-group:hover{
	color: #555 !important;
	text-decoration: none !important;
	background-color: #f5f5f5 !important;
}

